@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans&family=Oswald&family=Poppins&display=swap");

:root {
  --font-poppins: "Poppins', sans-serif";
  --font-mochiy: "Mochiy Pop One", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --cor-background: #053b50;
  --cor-font: #fff;
  --cor-link-hover: #64ccc5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-background);
}

.cabecalho__navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.cabecalho__navlinks__link {
  color: var(--cor-font);
  font-size: 1rem;
  font-family: var(--font-mochiy);
  font-weight: 400;
  text-decoration: none;
  margin: 0% 3%;
  transition: 0.5s;
}

.cabecalho__navlinks__link:hover {
  color: var(--cor-link-hover);
}

.principal__section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal__informacao {
  margin: 5%;
  color: var(--cor-font);
  font-family: var(--font-mochiy);
  font-weight: 400;
  font-size: 2rem;
}
span {
  color: var(--cor-link-hover);
}
.principal__sobremin {
  margin-top: 8%;
  font-size: 2rem;
}
.principal__texto {
  margin: 2% 0%;
  font-family: var(--font-opensans);
  font-size: 1rem;
}

.imagem__width__aluno {
  width: 100%;
  height: 20rem;
}

.imagem__width {
  width: 100%;
  height: 20rem;
}
.principal__quadrado {
  background-color: #fff;
  width: 100%;
  height: 20rem;
  margin: 5%;
}
/* Estilo dos projetos */
.principal__projetos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 5%;
  color: var(--cor-font);
  font-family: var(--font-mochiy);
  font-weight: 400;
  font-size: 2rem;
}

.principal__projetos__quadrado {
  background-color: #fff;
  width: 100%;
  height: 20rem;
}

.principal__projetos__texto {
  font-family: var(--font-opensans);
  font-size: 1rem;
  padding-top: 1rem;
}
.principal__projetos__links {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.principal__projetos__socialmidia {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #176b87;
  padding: 1%;
  background-color: var(--cor-link-hover);
  width: 25%;
  transition: 0.8s;
}

.principal__projetos__socialmidia:hover {
  background-color: #eeeeee;
  color: var(--cor-link-hover);
}

@media (max-width: 576px) {
  .principal__section {
    flex-direction: column;
  }

  .principal__quadrado {
    width: 70%;
  }
  .principal__projetos {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .principal__section {
    flex-direction: column;
  }

  .principal__quadrado {
    width: 70%;
  }
  .principal__projetos {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .principal__section {
    flex-direction: column;
  }

  .principal__quadrado {
    width: 70%;
  }
  .principal__projetos {
    flex-direction: column;
  }
}
